<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="videoPath" value="System.Windows.Forms.Label, Text: C:\BikeAthlets\Peter Test\media\Chesco Training Loop - 4486.mp4,System.Windows.Forms.Label, Text: C:\BikeAthlets\Peter Test\media\Chesco Training Loop - 4486.mp4,System.Windows.Forms.Label, Text: C:\BikeAthlets\Peter Test\media\Chesco Training Loop - 4486.mp4,System.Windows.Forms.Label, Text: C:\BikeAthlets\Peter Test\media\Chesco Training Loop - 4486.mp4,System.Windows.Forms.Label, Text: C:\BikeAthlets\Peter Test\media\Chesco Training Loop - 4486.mp4" />
    </appSettings>
</configuration>